# App
node_modules/
*.pyc
.idea
venv
.venv
db.sqlite3
__generated__
certs
src/logs

# Kube
secret.yaml

.coverage
junit.xml
/src/react/coverage/
/src/reports/
/src/react/data/schema.json
/logs

# Apple
.DS_Store
